*{
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    list-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 15px;
    background-color: brown;
    overflow: hidden;
    line-height:200px;
    max-height: 200px;


}