/*
DIFERENÇA ENTRE "ID #" e "CLASS .":
A diferença e que um "id" é usado apenas para indentificar um unico elemento em nosso HTML.
Os indentificadores são usados apenas quando um elemento  
*/

*{
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    list-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}  /* --------------- AQUI ABAIXO E A ESTILIZAÇÃO DO CORPO DO HEADER ------------------------------*/

header {
    display: flex;                  /* responsavel por colocar os itens na mesma linha */
    align-items: center;            /* alinha os itens para o centro */
    justify-content: space-evenly;
    padding: 2%;
    background-color: brown;      /* Cor do header, a primeira barra cabeçalho */
    overflow: hidden;
    /*line-height:200px;
    max-height: 200px;
            Obs: Removi para dar certo la na responsividade do celular
    */


}  /* ---------------------  AQUI E A ESTILIZAÇÃO DOS ITENS QUE ESTÃO NO HEADER CABEÇALHO ----------------------- */

header > h1 {
    color: white;        /* Demos a cor branca para o nome da padaria*/
    font-size: 60px;       /* Tamanho das letras */
}

header > img {       /* Aqui chamamos a nossa logo do pão para ser estilizada */
    width:180px;     /* Largura da nossa imagem LOGO */
    height: 150px;   /* Altura da nossa imagem */
}

#menu-header {           /* menu de navegação */
    display: flex;       /* responsavel por colocar os itens na mesma linha */
    align-items: center; /* alinha os itens para o centro */
}

#list-menu {             /* mudando diretamente  a lista ordenada */
    display: flex;       /* Responsavel por colocar os itens na mesma linha */
    margin-right: 1rem;  /* Margem da direita  usei 1rem equivalente a 16px */
}

.item-menu-header {     /* Nesse item-menu-header, estilizo o HOME, PRODUTOS e CONTATOS ao mesmo tempo */
    margin-right: 25px; /* Margin da direita de cada palavra */
}

.item-menu-header > a:hover {  /* o hover e responsavel por execultar as programações abaixo, ao passar o mouse */

    color: yellow;    /* Aqui atribui uma cor amarela */
    transition: 1s;     /* Tempo em que sera exibido ao passar o mouse*/
}

.item-menu-header > a {   /* Nossas li que estão dentro da list MENU.(a)*/
    color: white;        /* Cor da letras */
    text-decoration: none; /* Responsável por remover a linha abaixo das palavras links */
    font-size: 12px;       /* Tamanho das letras */
}

#botao-header {            /* Nossa ID do botão de login */
    display: flex;         /* Resposável por colocar os itens na mesma linha lado a lado */
}

#botao-header > button {
    padding: 8px;                   /* Cuida do preenchimento */
    background-color: transparent;  /* Aqui deixa o fundo do botão transparente*/
    border: none;                   /* E usado para retirar aqui as bordas do botão */

}

#botao-header > button > a {      /* Aqui estou estilizando o botão de login */
    display: flex;                /* Responsavel por colocar os itens na mesma linha */
    align-items: center;          /* alinha os itens para o centro */

}

#botao-header > button > a > img { /* Mexendo no botão de loguin*/
    width: 30px;                   /* largura */
    height: 30px;                  /* Altura */
    margin-right: 2px;             /* Margen da direita */
}

#botao-header > button > a {    /* Estamos chamando aqui nossa Tag de Link para ALTERÃO NOVAMENTE */
    color: white;             /* Cor da Letra do botão */
    text-decoration: none;      /* Responsavél por tirar o sublinhado da palavra */
    font-weight: 700;           /* Espessura da fonte ( engrossa a fonte */
}

#img-destaque {                                   /* Trazendo atraves da, div id="img-destaque para a pagina */
    background-image: url(imagens/padaria.webp);  /* Buscando a imagem na pasta imagens*/
    padding: 20%;                                 /* Largura da imagem*/
    background-position: center;                  /* Alinha imagem ao centro */
    background-size: cover;                       /* Abre a imagem buscando a proporção dela no espaço */
    
    
}

.img-div {                                       /* Trazendo o id="img-destaque para a estilização */
    padding: 2%;                              /* Largura da imagem*/
    background-image: url(imagens/img-div.jpg);  /* Buscando a imagem na pasta imagens*/
    background-position: center;                 /* Alinha imagem ao centro */
    background-size: auto;                       /* Abre a imagem buscando a proporção dela automaticamente */
}

#clients h2 {             /* Chamei o "NOSSOS CLIENTES" para estilização */
    text-align: center;   /* Alinhando o texto ao centro */
    font-size: 32px;      /* Alterando o tamanho da fonte para 32px */
    color: brown;       /* Dando uma cor ao texto */
    /*margin-top: 5px;    /* Deixei sem, para poder ficar igual a linha de baixo sobre o "NOSSOS CLIENTES" */

}

#clients {                         /* Chamei a area sessão para estilização */
    background-color: white;     /* Cor do funto branca */
    padding: 50px;                /* Dei uma largura de 50px*/
    margin-top: 0;

}

.line {
    margin: auto;
    width: 30%;
    border: 1px solid rgb(15, 15, 15); /* As duas linha sobre "NOSSOS CLIENTE": borda DE 1 pixels de espessura + COR preta  */
    /* margin-top: 50px;    /* Deixei sem para poder ficar igual a linha de cima sobre o "NOSSOS CLIENTES" */
}

#clients-list {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 35px;

}
.clients-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.clients-item  > img { /* Trazendo as imagens dos 3 clientes para estilização */
    width: 84px;
    height: 84px;
}

.clients-item > h3 {   /* Trazendo o nome dos 3 clientes para estilização */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
    'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 32px;
    margin-top: 10px;
    align-items: center;


}

.clients-item > p {   /* Trazendo os comentarios dos 3 clientes para estilização */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
    'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    margin-top: 10px;
    align-items: center;
}



#products {           /* ID usada para a section dos nossos produtos */
    background: linear-gradient(180deg, #d49664 8.33%, rgb(244, 200, 175, 0) 100%);  /* Aqui colocamos uma stilização de fundo degrade */
    padding: 30px;  /* Prenchimento */
}

#products > h2 {
    text-align: center;
    font-size: 40px;
}

.section-product {    /* Chamamos nossa div Pai para estilização */
    margin-top: 3em;  /* Espaçamento Superior */
    display: flex;    /* Tornando essa sessão Flex e jogando itens lado a lado */
    align-items: center;  /* Alinhamento dos itens ao centro */
    justify-content: space-evenly; /* Espaçamento justificado */
}

.img-product {   /* Aqui chamamos nossa imagens para edição */
    width: 300px;  /* Largura das imagens */
    height: 300px; /* Altura das imagens */
    border-radius: 50px; /* Deixando as bordas das imagens redonda */
}

.title-product {
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 22px;

}

#products > a {
    text-decoration: none; /* Retira a linha embaixo da palavra*/
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: black;
    display: flex;
    justify-content: center;
    text-align: center;
}
#products > a:hover { /* Efeito ao passar o mouse mo "Ver Tudo" */
    font-size: 22px;
    transition: 0.8s;
    color: tomato;
}

#sobre-nos {      /* chamei o sobre nos para estilização*/
    background-image: url(imagens/fundo-sobre-nos.jpg);  /* inseri a imagem de fundo*/
    background-repeat: no-repeat;  /* Não repetir na tela */
    background-position: center;  /* Posicionei a imagem ao centro */
    background-size: cover;  /*  Habilitei o tamanho total da imagem */
    background-attachment: fixed;  /* Fixei a imagem parada ao fundo */
    padding: 120px;   /* Dei uma largura a sessão / Tamanho do preenchimento */

}     /* Abaixo, bora CODAR a estilização do "h3* alterar cor, tamnha, alinhar ao centro e fonte */

#sobre-nos > h3 {
    color: rgb(255, 255, 255);
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    display: flex;
    justify-content: center;
    text-align: center;
}

#sobre-nos > p {   /* Chamei os paragrafos do sobre nós para estilização */
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 22px;
    margin-top: 2em;
    text-align: justify;
}

footer{
    padding: 80px;
    background-image: url(imagens/img-footer.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
}

footer ul {
    display: flex;
    justify-content: space-between;

}

footer h2 {
    color: black;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
}

.item-menu-footer {  /*  Aqui so posicionei os intens detro do footer*/
    align-items: center; /* Posicionamos ao centro */
    margin-top: 30px;   /* espaçamneto superior*/
    display: flex;  /* Alinhamento dos itens lado a lado*/
}

.item-menu-footer img{  /*Aqui e a stilização dos icones dos contatos e endereço */
    width: 34px;     /* Largura da imagem */
    height: 34px;   /* altura da imagem */

}

.item-menu-footer p {   /* Chamando a tag p para estilização */
    color: black;  /* cor da letra */
    font-size: 25px;  /* Tamanho da letra */
    font-weight: bold;  /* Espeçura da letra tipo negrito */
    margin-left: 10px;   /* Abre um espaçamento a direita entre os icones e o paragrafo */
}

@media(max-width:430px){    /* Aqui abrimos a configuração para smarts fones*/

    #menu-header{   /* */
        display: none;
    }
    #btn-header button a {
        display: block;
        font-family: bold;
    }

    #btn-header button a p {
        font-size: 0.8em;
        font-family: Arial, Helvetica, sans-serif;
    }

    #btn-header button a img {
        width: 30%;
        height: auto;

    }

    header img {   /* aqui estilizo o logo pão*/
        width: 60px;
        height: auto;
    }

    header h1 { /* Aqui estilizo o nome Edy Pane h1*/
        font-size: 1em;

    }

    header {  /* Largura da faixa do topo */
        padding: 8%;
    }

    #img-destaque {   /* mexendo na imagen central dos paes no centro do site*/
        max-width: 100%;
        height: auto;
    }

    #img-padaria{
        width: 100%;
    }

    #clients-list{    /*  Aqui trouxe os 3 clientes com todas as informações deles para estilizar*/
        display: block;  /* coloquei um debaixo do outro */
        text-align: center;
    }

    .clients-item p{    /*  Aqui trouxe os 3 comentários dos clientes para estilizar*/
        font-size: 1.5em;
        
    }

    #clients h2{
        font-size: 2em;
    }

    .line{
       
        width: 70%;
    }

    .clients-item p {
        font-size: 1.6em;
        text-align: center;
        margin-bottom: 10%;
    }

    .section-product{
        display: block;
        text-align: center;
      
    }

    

    
}








